In [2]:
from sklearn.model_selection import KFold
import pandas as pd

df = pd.read_csv('Pregunta4.csv')
df

,id,casado,tiene_hijos,nro_dpntes,edad,trabaja,tipo_vivienda,hace_deporte,ofrece_seguro
0,701,no,si,1,25,si,propia,1,si con condiciones
1,305,no,no,0,29,no,familiar,0,no
2,203,no,si,1,34,si,propia,0,si
3,304,si,si,3,43,si,propia,1,si
4,102,si,no,1,51,si,propia,2,si con condiciones
5,406,si,si,2,52,si,arrienda,0,no
6,507,si,si,4,43,si,arrienda,3,si
7,108,no,no,0,33,no,familiar,0,no
8,409,si,si,1,27,si,propia,2,si
9,180,si,si,1,28,si,propia,3,si con condiciones
10,191,si,no,2,50,si,familiar,0,no
11,212,no,si,1,34,si,familiar,2,si
12,213,si,si,1,42,si,familiar,0,no
13,314,si,no,1,40,no,arrienda,0,no
14,415,si,si,1,25,si,propia,0,si
15,116,si,no,0,39,no,familiar,0,no
16,117,si,no,1,31,si,propia,2,si con condiciones
17,218,no,no,0,37,si,propia,3,si con condiciones
18,519,no,si,1,29,si,familiar,3,si
19,120,si,si,1,30,si,propia,0,si
20,221,si,no,0,28,si,familiar,1,si con condiciones
21,322,no,si,1,27,si,propia,3,si con condiciones
22,323,si,si,4,40,si,propia,1,si
23,624,no,si,1,36,si,propia,3,si
24,125,si,no,0,39,no,familiar,1,no

In [3]:
df = pd.get_dummies(df, columns = ["tiene_hijos","casado","trabaja"], drop_first = True)

#Tipo_vivienda = 0 -> propia
#Tipo_vivienda = 1 -> familiar
#Tipo_vivienda = 2 -> arrienda
viviendas = {"propia":0,"familiar":1,"arrienda":2}
df['tipo_vivienda'] = df['tipo_vivienda'].replace(viviendas)

#ofrece_seguro = 0 -> no
#ofrece_seguro = 1 -> si con condiciones
#ofrece_seguro = 2 -> si
seguros = {"si con condiciones": 1, "no":0, "si":2}
df['ofrece_seguro'] = df['ofrece_seguro'].replace(seguros)
df

,id,nro_dpntes,edad,tipo_vivienda,hace_deporte,ofrece_seguro,tiene_hijos_si,casado_si,trabaja_si
0,701,1,25,0,1,1,1,0,1
1,305,0,29,1,0,0,0,0,0
2,203,1,34,0,0,2,1,0,1
3,304,3,43,0,1,2,1,1,1
4,102,1,51,0,2,1,0,1,1
5,406,2,52,2,0,0,1,1,1
6,507,4,43,2,3,2,1,1,1
7,108,0,33,1,0,0,0,0,0
8,409,1,27,0,2,2,1,1,1
9,180,1,28,0,3,1,1,1,1
10,191,2,50,1,0,0,0,1,1
11,212,1,34,1,2,2,1,0,1
12,213,1,42,1,0,0,1,1,1
13,314,1,40,2,0,0,0,1,0
14,415,1,25,0,0,2,1,1,1
15,116,0,39,1,0,0,0,1,0
16,117,1,31,0,2,1,0,1,1
17,218,0,37,0,3,1,0,0,1
18,519,1,29,1,3,2,1,0,1
19,120,1,30,0,0,2,1,1,1
20,221,0,28,1,1,1,0,1,1
21,322,1,27,0,3,1,1,0,1
22,323,4,40,0,1,2,1,1,1
23,624,1,36,0,3,2,1,0,1
24,125,0,39,1,1,0,0,1,0

In [17]:
from sklearn.metrics import confusion_matrix

X=df.drop(['id','ofrece_seguro'],axis=1)
y=df['ofrece_seguro']

kf=KFold(n_splits=10,shuffle=True)
for train_index,test_index in kf.split(X):
    #print("Entrenamiento: ",df.iloc[train_index], '\n Prueba: ',df.iloc[test_index])
    print(train_index,test_index)
    #confusion_matrix(y[train_index], y[test_index])
    #print(X.iloc[train_index])
    #print(y.iloc[test_index])

[ 0  2  3  4  5  6  7  9 11 12 13 14 15 16 17 18 19 20 21 22 23 24] [ 1  8 10]
[ 0  1  2  3  4  5  6  8  9 10 11 12 13 14 15 16 17 18 19 21 22 23] [ 7 20 24]
[ 1  2  3  5  6  7  8  9 10 11 12 13 14 16 17 18 19 20 21 22 23 24] [ 0  4 15]
[ 0  1  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 19 20 21 23 24] [ 2 18 22]
[ 0  1  2  3  4  5  7  8  9 10 11 12 13 15 16 17 18 20 21 22 23 24] [ 6 14 19]
[ 0  1  2  3  4  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 22 23 24] [ 5 21]
[ 0  1  2  3  4  5  6  7  8  9 10 11 14 15 16 17 18 19 20 21 22 23 24] [12 13]
[ 0  1  2  4  5  6  7  8 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24] [3 9]
[ 0  1  2  3  4  5  6  7  8  9 10 12 13 14 15 17 18 19 20 21 22 23 24] [11 16]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 18 19 20 21 22 24] [17 23]